* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
}

html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #000;  
    background-color: #182E46;
}

.container {
    max-width: 1000px;
    margin: 20px auto;
    background-color:  rgba(188, 193, 203, 0.937);
    padding: 30px;
}

.header {
    background-color: #C46B19;
}

.header-container {
    background-color: #C46B19;
    margin-top: 0;
}

.header-title {
    margin-bottom: 10px;
}

.photo {
    height: auto;
    width: 300px;
    display: block;
    margin-right: 40px;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
}

.nav-list-skills {
    padding-left: 15px;
}

.nav-link {
    transition: 1s;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
}

.nav-link:hover {
      color: #fff;
}

.section-title {
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    color: #000;
}

.section-info{
    font-size: 20px;
}

.git-link {
    transition: 1s;
}

.git-link:hover {
      color: #fff;
}

.my-cv-link {
    transition: 1s;
}

.my-cv-link:hover {
      color: #fff;
}

.bold {
    font-weight: bold;
}

.contacts-container {
    display: flex;
}
.section-contacts {
    border-bottom: 3px solid #182E46;
    margin-bottom: 20px;
}
pre {
    background-color: rgb(24 46 70);
}

code {
    color: #b2b8c2;
}

.footer {
    background-color: #C46B19;
}

.footer-container{
    background-color: #C46B19;
    margin-bottom: 0;
}

.rs-logo{
    height: auto;
    width: 70px;
}

.github-logo{
    height: auto;
    width: 50px;
}